@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"),
    url("fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Roboto Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
